.classIcon
{
	height:50px;
	width:50px;
}

.classIcon:hover
{
	opacity:0.7;
}

#iconsParent
{
	text-align:center;
}

#textInput, #buttons
{
	padding:10px;
}

#classIcons
{
  display:inline-block;
}

#languageSelect
{
	display:inline!important;
	width:70px;
}

#launchButton
{
	display:inline!important;
}

#footer
{
	height:40px;
}

.free
{
	color:#000000;
}

.common
{
	color:#0FAF03;
}

.rare
{
	color:#198EFF;
}

.epic
{
	color:#AB48EE;
}

.legendary
{
	color:#F07000;
}

.repeat, .dust
{
	height:30px;
	width:35px;
}

.btn:focus {
  outline: none;
}

.smallDust
{
	height:14px;
}

.largeDust
{
	height:20px;
}
